<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net40" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net40" />
  <package id="NTwain" version="3.5.2" targetFramework="net40" />
  <package id="Office" version="12.0.0" targetFramework="net40" />
  <package id="Office.Interop.Excel" version="12.0.0" targetFramework="net40" />
  <package id="ZKemkeeper" version="1.0.0" targetFramework="net40" />
</packages>